
 /* EXTC Carousel - default.less */

 .cmp-carousel {

    .cmp-carousel__content {

    }

    .cmp-carousel__item {
        @include animated();
        @include fadeIn();

        display: none;
        &--active {
            display: block;
        }
    }

    .cmp-carousel__indicators {
        margin-top: 0.5em;
        cursor: pointer;
    }

    .cmp-carousel__actions {
        float: right;
        margin-top: 0;
    }

    .cmp-carousel__action {
        border: none;
        padding-right:0px;
        margin-right: 1em;
        background:none;
    }

    .cmp-carousel__action-text {
        display: none;
    }

    .cmp-carousel__action-icon {
        cursor: pointer;
    }

    .cmp-carousel__action--previous {
        .cmp-carousel__action-icon {
            &:before {
                content: $extcicon-left-arrow; 
            }
        }
    }
    .cmp-carousel__content {
        position: relative;
      }
      
      .cmp-carousel__item {
        display: none;
      }
      
      .cmp-carousel__item--active {
        display: block;
      }
      
      .cmp-carousel__action {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none
      }
      
      .cmp-carousel__indicators {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        padding: 0;
        list-style: none;
      }
      
      .cmp-carousel__indicator {
        position: relative;
        flex: 0 1 auto;
        width: 10px;
        height: 10px;
        margin: 0 7px;
        border-radius: 50%;
        font-size: 0;
        text-indent: -3000px;
        background-color: rgba(0,0,0,0.5)
      }
      
      .cmp-carousel__indicator--active {
        background-color: rgba(0,0,0,0.8)
      }
    .cmp-carousel__action--next {
        .cmp-carousel__action-icon {
            &:before {
                content: $extcicon-right-arrow; 
            }
        }
    }
}